<div class="card mb-0 rounded-0">
    <div class="card-header card-custom-top">
      <h5 class="align-middle text-dark">
        Operações
      </h5>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <a class="info-box-content" [routerLink]="['/conta/depositar']">
                <div class="card-custom-top color-success">
                    <div class="card-body text-dark">
                        <i class="fas fa-piggy-bank me-1"></i><span>Depositar</span>
                    </div>
                  </div>
            </a>
          </div>
          <div class="col-md-6">
            <a class="info-box-content" [routerLink]="['/conta/sacar']">
                <div class="card-custom-top ">
                    <div class="card-body text-dark">
                        <i class="far fa-money-bill-alt me-1"></i>Sacar
                    </div>
                  </div>
            </a>
          </div>
          <div class="col-md-6">
            <a class="info-box-content" [routerLink]="['/conta/transferir']">
                <div class="card-custom-top ">
                    <div class="card-body text-dark">
                        <i class="fas fa-exchange-alt me-1"></i>Transferir
                    </div>
                  </div>
            </a>
          </div>
          <div class="col-md-6">
            <a class="info-box-content" [routerLink]="['/conta/consultar']">
                <div class="card-custom-top ">
                    <div class="card-body text-dark">
                        <i class="fas fa-search me-1"></i>Consultar por CPFs
                    </div>
                  </div>
            </a>
          </div>
          <div class="col-md-6">
            <a class="info-box-content" [routerLink]="['/conta/extrato']">
                <div class="card-custom-top ">
                    <div class="card-body text-dark">
                        <i class="fas fa-list me-1"></i>Extrato
                    </div>
                </div>
            </a>
          </div>
          
        </div>      
      </div>
  </div>